* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  position: fixed;
  z-index: 1000;
  padding: 20px 20px;
  transition: 0.32s ease-in-out;
}

.scrolled {
  background-color: transparent;
}

.navbar {
  width: 30%;
  float: right;
}
.header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.box {
  margin: auto;
  color: #fdde03;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  height: 100vh;
  padding: 100px;
  font-weight: bold;
  justify-content: space-evenly;
}

.box h1 {
  font-size: 100px;
}
.box h2 {
  font-size: 60px;
}

.icons {
  color: black;
  font-size: 30px;
  display: flex;
  gap: 15px;
}

/*++++++++++Main Social+++++++++++++++*/
.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}
/*+++++++++++++++++++++++++*/

/*+++++++++Skills cards*/

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 60px;
}

.cards .red {
  border: 2px solid #e5532f;
}

.cards .blue {
  border: 2px solid #274de3;
}

.cards .yellow {
  border: 2px solid #f7df1c;
}

.cards .blueReact {
  border: 2px solid #61dafb;
}

.cards .redSql {
  border: 2px solid #f70000;
}

.cards .purple {
  border: 2px solid #8411f5;
}

.cards .mui {
  border: 2px solid #1685cd;
}

.cards .redux {
  border: 2px solid #764abc;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
/*+++++++++++++++++++++++++*/

/*+++++++++Projects card*+++++++*/
.book {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #000;
}
.book a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #9a6af1;
  margin-left: 10px;
}

.cover {
  top: 0;
  position: absolute;
  /* background-image: url("./assets/movieList.png"); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover img {
  width: 100%;
  height: 100%;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/*+++++++++++++++++++++++++*/
